body
{
font-family:cursive;
background-color:black;
color:white;
}
#wish{
background-image:url("bg.jpg");
}



#wish1{
background-image:url("bg2.jpg");
}

#wish2{
background-image:url("bg3.jpg");
}



#wish3{
background-image:url("bg4.jpg");
text-align:bottom;
}


#wish4{
background-image:url("Bg1.jpg");
}
#wish5{
background-image:url("cute.jpg");
}

.backpic{
height:600px;
/* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
}


#purpose{

background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border-radius: 15px;
  border: 1px solid #f1f1f1;
  position: absolute;
  top: 145%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}


.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

@keyframes heartfade {
			0% {
				opacity : 1;
			}
			50% {
				opacity : 0;
			}
		}
		.heart {
			z-index : 999;
			animation : heartfade 6s linear;
			position : absolute; 
		}
		.heart:before,
		.heart:after {
			content : "";
			background-color : #fc2a62;
			position : absolute;
			height : 30px;
			width : 45px;
			border-radius : 15px 0px 0px 15px;
		}

		.heart:before {
			transform : rotate(45deg);
		}

		.heart:after {
			left : 10.5px;
			transform : rotate(135deg);
		}


.new{
 text-size: 20px;
 text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
}

.ml9 {
  position: relative;
  font-weight: 200;
  font-size: 4em;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}
